.woffer{
    width: 32rem;
    height: 14rem;
}

.shadow{
    box-shadow: -2px -2px 8px gray;
    /* box-shadow: 2px 1px 2px 1px gray; */
}


.shadow:hover{
    box-shadow: 10px 10px 15px gray;
    transition: 0.3s;
}